.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    border-bottom: 1px solid darkblue
}

body {
    font-family: 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin-right: -50px;
}

/* Nav */
.nav {
    margin-bottom: 25px;
    display: flex;
}

.nav-logo img {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 45px;
    max-height: 40px;
    scale: 150%;
}

.nav-item {
    padding: 2px 1em;
    color: black;
    border: 0.5px solid black;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
}

.nav-item:hover {
    background: rgb(245, 241, 110);
    color: white;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 0);
    transition: 0.2s;
}

/* Banner & Greetings */
.greetings {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center;
}

.greetings h1 {
    font-size: 50px;
    margin: 0 0 2rem;
    line-height: 1.0;
}

.greetings h3 {
    font-size: 25px;
    margin: 0 0 2rem;
    line-height: 0.1;
}

.banner {
    border-bottom: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../assets/s.jpg") no-repeat center center/cover;
    height: 578px;
}

/* About */
.about {
    border-bottom: 1px solid black;
    padding: 4em;
    display: flex;
    width: 95.5%;
}

.about-content {
    margin-left: 10px;
    margin-right: 20px;
    top: 50%;
    transform: translateY(10%);
}

.about h1 {
    font-size: 50px;
    margin-left: 15px;
    margin-bottom: -5px;
    color: rgb(245, 241, 110);
    background-color: black;
    width: 55%;
}

.about p {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 50px;
    text-align: justify;
}

.about img {
    height: 500px;
    width: 700px;
    float: right;
    margin-right: -24px;
    margin-top: -64px;
    margin-bottom: -63.5px;
}

/* Headquarters */
.headquarters {
    border-bottom: 1px solid black;
    padding: 4em;
    background: rgba(211, 211, 211, 0.3);
}

.headquarters h1 {
    font-size: 50px;
    margin-left: 15px;
    margin-bottom: -5px;
    color: rgb(245, 241, 110);
    background-color: black;
    width: 55%;
}

.headquarters h3 {
    margin: 20px 0;
    margin-left: 15px;
    font-size: 25px;
    font-weight: bold;
}

.headquarters p {
    margin-left: 50px;
    font-size: 25px;
}

.hq-items {
    display: flex;
    padding: 2em 5em;
    justify-content: space-around;
    align-items: flex-start;
}

.hq-item {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 0, 0.2);
    transition: 0.3s;
    border-radius: 50px;
    padding: 5rem;
    text-align: center;
    margin: 20px;
}

.hq-item:hover {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 0);
    transition: 0.5s;
}

.headquarters p {
    margin: 20px 0;
    font-weight: bold;
}

.circle-jkt {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background: url("../assets/Jakarta_Skyline_Part_2.jpg") no-repeat center center/cover;
}

.circle-bdg {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background: url("../assets/gesat-2.jpg") no-repeat center center/cover;
}

.circle-sby {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background: url("../assets/surabayathumb.jpg") no-repeat center center/cover;
}

/* Portfolio */
.portfolio {
    border-bottom: 1px solid black;
    padding: 4em;
}

.porto-items {
    display: flex;
    padding: 2em 5em;
    justify-content: space-around;
    align-items: flex-start;
}

.porto-item {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 5rem;
    text-align: center;
    margin: 20px;
}

.porto-item:hover {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 0);
    transition: 0.5s;
}

.portfolio h1 {
    font-size: 50px;
    margin-left: 15px;
    margin-bottom: 20px;
    color: rgb(245, 241, 110);
    background-color: black;
    width: 55%;
}

.portfolio h3 {
    margin: 20px 0;
    margin-left: 15px;
    font-size: 25px;
    font-weight: bold;
}

.portfolio p {
    margin: 20px 0;
    font-size: 25px;
    width: 500px;
}

.project1 {
    height: 250px;
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background: url("../assets/portfolio-netflix.png") no-repeat center center/cover;
}

.project2 {
    height: 250px;
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background: url("../assets/portfolio-porto.png") no-repeat center center/cover;
}



/* Form */
.form {
    border-bottom: 1px solid black;
    padding: 4em;
}

input[type=text],
input[type=date],
input[type=radio],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form-input {
    width: 850px;
}

.form-output {
    margin-top: 100px;
    margin-left: 25px;
    width: 50%;
    height: 50%;
}

.col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-text {
    color: blue;
    font-size: small;
    float: right;
    margin-right: 25px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-label,
    .col-input,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}